body {
  font-family: Arial;
  /* background-color: mintcream; */
  background: linear-gradient(45deg, rgba(116, 216, 166), rgb(20, 44, 22));
  padding: 40px 0px;
  width: 100vp;
  height: 100vp;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
}

h3 {
  margin-top: 0px;
}
span {
  color: gray;
}
.container {
  box-shadow: 0 0 20px grey;
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

.profile-picture {
  width: 180px;
  height: auto;
}
.dane {
  padding-left: 20px;
}

section,
header {
  padding: 10px 60px 20px 60px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
header ul {
  list-style: none;
  padding-left: 0px;
}

li {
  margin-bottom: 15px;
}

address {
  width: 350px;
}
.address-icon {
  width: 16px;
  height: 16px;
  background: linear-gradient(-45deg, rgba(116, 216, 166), rgb(20, 44, 22));
  margin-right: 10px;
  padding: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

.hobbies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.hobbies li {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.hobbies div {
  margin-left: 20px;
}

.hobbies p {
  color: grey;
}

p {
  line-height: 1.5;
}
.hobbies img {
  background-color: rgb(65, 124, 95);
  height: 16px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
li a:hover {
  color: rgb(65, 124, 80);
}
.rozwijak {
  list-style-type: none;
  text-decoration: none;
  width: 144px;
}
.rozwijak ul {
  display: none;
}

.rozwijak:hover ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  position: absolute;
}
ol {
  margin-top: 20px;
  padding: 0;
}

.submenu {
  margin: 10px 1px 4px 1px;
}

.submenu-link {
  background-color: grey;
  padding: 8px 0px;
  border-radius: 30px;
  border: 2px solid rgb(65, 124, 80);
  background-color: white;
  display: block;
  width: 105px;
  text-align: center;
  font-size: 11px;
}
.submenu-link:hover {
  border: 2px solid white;
  background-color: rgb(65, 124, 80);
  color: white;
  box-shadow: 10px;
  box-shadow: 0 0 10px 5px grey;
}
.main-submenu-link {
  background-color: grey;
  padding: 8px 0px;
  border-radius: 30px;
  border: 2px solid rgb(65, 124, 80);
  background-color: white;
  display: block;
  width: 105px;
  text-align: center;
}
